/* ===================BODY================================================ */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --color-1: #d017b8;
    --color-2: #2e07ca;
    --color-3: #140524;
    --color-4: #1d0a6a;
    --color-5: rgb(220, 219, 219);

}

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    font-weight: 400;
    font-style: normal;
    color: white;
    background: rgb(12, 1, 35);
    background: linear-gradient(90deg, rgba(33, 9, 85, 1) 45%, rgba(208, 23, 184, 1) 74%, rgba(29, 10, 106, 1) 100%);
     height: 100vh; 
    
    
}


.custom-nav {
    
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 95vw;
    background-color: var(--color-3);
    margin-top: 8px;
    border-radius: 40px;
    border: 1px solid rgba(233, 231, 231, 0.5);
    display: flex;
    align-items: center;
}
.brand {

    color: var(--color-5);
    font-weight: bolder;
    margin-left: 40px;
    font-size: 30px;

}
/*------------------------------------------------ Home-section-------------------------------------------------------------------------------------------------------------- */

.left-section {
    color: white;
width: 100vw;
    font-size: 40px;
    font-weight: normal;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
}

.text1 {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgba(160, 153, 153, 0.589);


    font-size: 30px;
}

.text2 {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 100px;



}

.text3 {
    color: rgba(230, 216, 216, 0.589);
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 20px;
    border-left: 2px solid rgba(230, 216, 216, 0.589);
    padding-left: 15px;
    margin-top: 5%
}

.home-section {
    padding-top: 10%;
    padding-left: 10%;
    display: flex;
    height: 100vh;
    padding-right: 0px;
    
}

.cv-button {

    color: white !important;
    margin-top: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;


}
.cv-button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}
/* .cv-button-bg-1{
        width: 120px;
        height: 120px;
        transform-origin: center;
        clip-path: circle(40%);
        background-color:rgba(251, 62, 226, 0.3);
        
        
    } */
.right-section {
    display: flex;
    width: 100vw;
    justify-content: space-between;


}

.left-section1{
    display: flex;
    flex-direction: row;
}
.about-section{
    display: flex;
    flex-direction:row;
}
.circle-cont{
    transform: rotate(90deg);
}

.circle-2 {
    height: 600px;
    width: 600px;
    
    clip-path: circle(35%);
    margin-top: 300px;
    /* clip-path: ellipse(50% 50% at 50% 0%); */
        transform: rotate(90deg);
    align-self: last baseline;
    background: hsla(197, 100%, 63%, 1);
    
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
    
}

.social .bi-facebook{
    font-size: 1.8rem;
color: rgb(123, 121, 121)
}
.social.bi-facebook:hover{
    color: white;
  } 
.social {
    display: flex;
    height: 60vh;
    width: 80px;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(19, 107, 184); */
    margin-left: 20%;
    box-shadow: 5px 5px 10px black
    

}

.social .bi-instagram{
    font-size: 1.8rem;
color: rgb(123, 121, 121)
}
   

  .social .bi-instagram:hover { 
  color: white;
}
.social .bi-twitter-x{
    font-size: 1.8rem;
    color: rgb(123, 121, 121)
}
.social .bi-twitter-x:hover{
color: white;
}
.social .bi-linkedin{
    font-size: 1.8rem;
color: rgb(123, 121, 121)
}
.social .bi-linkedin:hover{
color: white;
}
.social .bi-whatsapp{
    font-size: 1.8rem;
color: rgb(123, 121, 121)
}
.social .bi-whatsapp:hover{
color: white;
}
/*----------------------------------------------------------- about-section------------------------------------------------------------------------------------------------------------ */
.about-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 13%;
}
.left-section1 {
    color: white;
    font-size: 40px;
    font-weight: normal;
    position: relative;
    margin-top: 5%;
    font-size: 100px;
}
 .about-img{
    width: 45vw;
    height: 70vh;
    clip-path: circle(40%)
} 
.text4{
    position: absolute;
    left: 500px;
    top:0px;
    line-height: 120px;
}
.right-section1 {
    margin-top: 10%;
    margin-left: 5%;
    
}
.aboutme{
    color: white;
    font-size: 1.5em;
    padding-right: 2%;
    text-align: justify;
}
  /*----------------------------------------------- Skill-section------------------------------------------------------------------------------------------------- */
  .skill-section{
    height: 80vh;
    width: 100vw;
    box-sizing: border-box;
    margin-top: 25%;
}
.skill-section .main-heading1{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 36px;
    border-left: 2px solid rgba(230, 216, 216, 0.589);
    padding-left: 15px;
}
.skill-section-item-2{
    padding-top: 10%;
}
.logo-section-1{
    display: flex;
    padding-top: 10%;
    justify-content: space-around;
    box-sizing: border-box;
}
.logo-section-2{
    display: flex;
    padding-top: 10%;
    justify-content: space-around;
    box-sizing: border-box;

}
/*============================================================ project-section================================================================================================================== */
.project-section{
    height: 130vh;
    
}
.project-section  .mainheading{
    color: white;
   margin-top: 15%;
    text-align: center;
    font-size: 600%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 10%;
}
.project-item2{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 36px;
    padding-top: 20vw;
    text-align: center;
}
.coming-soon{

}
   /* -----------------------------------------------------------contact-section------------------------------------------------------------------------------------------------------------- */
   .contact-section{
    height: 100vh;
    width: 100vw;
    display: flex;
   
 
  
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
   .main-heading1{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 4em;
    border-left: 2px solid rgba(230, 216, 216, 0.589);
    padding-left: 15px;
   }
   .box-section{
    color: white !important;
    width: 30vw;
    font-size: 1.em;
     background: transparent !important;
    backdrop-filter: blur(8px) !important;
    box-shadow: 5px 5px 10px black;
    margin-top: 5%;
    
  }
   .form-text{
    color: white !important;
   }
  
   .input-field{
    background: transparent !important;
    color: white !important;
   }
/* --------------------------------------------------------footer-section----------------------------------------------------------------------------------------------------------------- */
.footer-section{
    height: 40vh;
    color: white;
    border-top: 1px solid white;
   margin-top: 5%;
    display: flex; 
   justify-content: space-around;
   }
   
   .intro-section1{
    padding-right: 5%;
    padding-top: 2%;
    font-size: 1.2em;

   }
   .mt-3{
    font-size: 1rem;
    background-color: antiquewhite;
   }
   .intro-section h5{
    font-family: "Ubuntu";
    font-size: 200%;
   }
   .social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   .social-icons h5{
    font-family: "Ubuntu";
    font-size: 200%;
    padding-top: 10%;
   }
   .social-media .bi-facebook{
    font-size: 2rem;
    color: rgb(216, 212, 212);
   
}
.social-media.bi-facebook:hover{
    color: white;
    transform: scale(1.5);
    transition: 1000ms;
  }
  .social-media .bi-instagram {
    font-size: 2rem;
    color: rgb(216, 212, 212);
  }
   

  .social-media.bi-instagram:hover { 
  color: white;
}
.social-media .bi-twitter-x{
font-size: 2rem;
color: rgb(216, 212, 212);
}
.social-media .bi-twitter-x:hover{
color: white;
}
.social-media .bi-linkedin{
font-size: 2rem;
color: rgb(216, 212, 212);
}
.social-media .bi-linkedin:hover{
color: white;
}
.social-media .bi-whatsapp{
font-size: 2rem;
color: rgb(216, 212, 212);
}
.social-media .bi-whatsapp:hover{
color: white;
}



      .social1 {
        display: flex;
        height: 40px;
        width: 18vw;
        border-radius: 16px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* background-color: rgb(19, 107, 184); */   
    }
    .copyright-box{
        color: rgb(236, 236, 236);
    }
    .bi{
        color: #d017b8;
        margin-right: 5px;
        
    } 
    .bi:hover{
        color: white;
    }

    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }
      .my-nav{
        display: flex;
        justify-content: center;
      
      }
/* =========================Responsive Style======================================================================== */
@media screen and (max-width:760px) 
{
    body{
        flex-direction: column;
        justify-content: flex-start;
    }
    .contact-button{
        display: none;
    }
    .brand{
        font-size: 20px;
    }

    .home-section{
        padding-top: 25%;
        display: flex;
        /* background-color: aliceblue; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .home-section .text1{
        display: none;
    }
    .home-section .text2{
        color: white;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    }
    .home-section .text3{
        color: rgba(230, 216, 216, 0.589);
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 16px;
    border-left: 2px solid rgba(230, 216, 216, 0.589);
    padding-left: 15px;
    }
    .home-section .text2,.home-section .text3{
        margin-left: 10%;

    }
    .home-section .left-section {
        color: white;
        width: 100vw;
        font-size: 16px;
        font-weight: normal;
        display: flex;
        /* overflow: hidden; */
        flex-direction: row;
    }
    .home-section .right-section{
        display: none;
    }
    .cv-button{
        margin-top: 120%;
        
        overflow: hidden;
        align-self: end;


        /* background-color: yellow; */
    }
    /*=============================================== ABOUT-SECTION================================================================================================================================== */
   .about-img{
    width: 100vw;
    clip-path: none;
    height: auto;
   }
   .about-section {
    padding-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;  
}
.about-section .text4{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 36px;
    left: 0px;
    top: 25%;
    padding-left: 3%;
    border-left: 2px solid rgba(230, 216, 216, 0.589);
    
}
.left-section1{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 0%;
}
.about-section .aboutme{
    font-size: 16px;
    text-align:left;
    color: rgb(255, 255, 255);padding: 5%;
    padding-right: 0%;
    
   
}
.about-section .arrow{
    display: none;
}
.about-section .contact{
    display: none;
}
/*============================================================ skill-section================================================================================================================== */
.skill-section{
    height: 100vh;
}
.skill-section .main-heading1{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 36px;
    border-left: 2px solid rgba(230, 216, 216, 0.589);
    padding-left: 15px;
}
.logo-section-1{
display: flex;
justify-content: space-between;
padding-top: 10%;
justify-content: space-around;

}
.logo-section-2{
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    justify-content: space-around;
}
/*============================================================ project-section================================================================================================================== */
.project-section{
    height: 100vh;
    
}
.project-section .mainheading{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 36px;
    border-left: 2px solid rgba(230, 216, 216, 0.589);
    padding-left: 15px;
}
.project-item2{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 36px;
    padding-top: 30%;
    text-align: center;
}
.coming-soon{
margin-top: 40%;
}
 /* -----------------------------------------------------------contact-section------------------------------------------------------------------------------------------------------------- */
 .contact-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    padding-top: 15%;
 
  
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
   .main-heading1{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 36px;
    border-left: 2px solid rgba(230, 216, 216, 0.589);
    padding-left: 15px;
   }
   .box-section{
    color: white !important;
    width: 85vw;
     background: transparent !important;
    backdrop-filter: blur(8px) !important;
    box-shadow: 5px 5px 10px black
    
  }
   .form-text{
    color: white !important;
   }
  
   .input-field{
    background: transparent !important;
    color: white !important;
   }
   /*===================================================== footer-sectiom========================== */
   .footer-section{
    height: 40vh;
    color: white;
    border-top: 1px solid white;
   margin-top: 5%;
   display: flex;
   justify-content: space-around;
   }
   .intro-section1{
    padding-right: 5%;
    padding-top: 2%;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;


   }
   .intro-section h5{
    font-family: "Ubuntu";
    font-size: 200%;
   }
   .social-icons h5{
    font-family: "Ubuntu";
    font-size: 130%;
    padding-top: 10%;
    background-color: brown;
    display: none;
   }

   .social-media{

    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px black;
    border-radius: 30px;
    
   }
    .social-media .bi-facebook{
        font-size: 2rem;
        color: rgb(123, 121, 121);
       
    }
    .social-media.bi-facebook:hover{
        color: white;
        transform: scale(1.5);
        transition: 1000ms;
      }
      .social-media .bi-instagram {
        font-size: 2rem;
        color: rgb(123, 121, 121);
      }
       
   
      ..social-media.bi-instagram:hover { 
      color: white;
}
.social-media .bi-twitter-x{
    font-size: 2rem;
        color: rgb(123, 121, 121)
}
.social-media .bi-twitter-x:hover{
    color: white;
}
.social-media .bi-linkedin{
    font-size: 2rem;
    color: rgb(123, 121, 121)
}
.social-media .bi-linkedin:hover{
    color: white;
}
.social-media .bi-whatsapp{
    font-size: 2rem;
    color: rgb(123, 121, 121)
}
.social-media .bi-whatsapp:hover{
    color: white;
}

  
    .copyright-box{
        color: rgb(236, 236, 236);
    }
    .bi{
        color: #d017b8;
        margin-right: 5px;
        
    } 
    .bi:hover{
        color: white;
    }

    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }
      .my-nav{
        display: flex;
        justify-content: center;
      
      }
    }