@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --color-1: #d017b8;
    --color-2: #2e07ca;
    --color-3: #140524;
    --color-4: #1d0a6a;
    --color-5: rgb(220, 219, 219);

}

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    font-weight: 400;
    font-style: normal;
    color: white;
    background: rgb(12, 1, 35);
    background: linear-gradient(90deg, rgba(33, 9, 85, 1) 45%, rgba(208, 23, 184, 1) 74%, rgba(29, 10, 106, 1) 100%);
}

.custom-nav {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 95vw;
    background-color: var(--color-3);
    margin-top: 8px;
    border-radius: 40px;
    border: 1px solid rgba(233, 231, 231, 0.5);
    display: flex;
    align-items: center;
}



.brand {

    color: var(--color-5);
    font-weight: bolder;
    margin-left: 40px;
    font-size: 30px;

}

.menu-item {
    display: flex;
    color: var(--color-5);
    justify-content:space-evenly;
    margin-right:18%;
    font-size: 20px;
    width: 30vw;
}

.custom-nav-item{
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease-in;
    background: transparent;
}

.custom-nav-item span{
    position: relative;
}

.custom-nav-item span::after{
    content: '' ;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.custom-nav-item:hover span::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link{
    color: var(--color-5);
    margin-left: 60px;
    font-size: 20px;
}

.contact-button{
    color: var(--color-5);
    border-radius: 25px;
   text-decoration: none;
    font-size: 17px;
    background-color: #440686;
    padding: 10px;
    width: 13%;
    text-align: center;
    font-weight: bold;
    margin-right: 2%;

}
.navbar-toggler-icon{
    color: white;
}

.contact-button:hover {
    background-color: #d017b8;
    cursor: pointer;
    color: #5e09b9;
    transition: 0.5s;
}
/*------------------------------------------------ Home-section-------------------------------------------------------------------------------------------------------------- */

.left-section {
    color: white;
width: 100vw;
    font-size: 40px;
    font-weight: normal;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
}

.text1 {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgba(160, 153, 153, 0.589);


    font-size: 30px;
}

.text2 {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 100px;



}

.text3 {
    color: rgba(230, 216, 216, 0.589);
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 20px;
    border-left: 2px solid rgba(230, 216, 216, 0.589);
    padding-left: 15px;
    margin-top: 5%
}

.home-section {
    padding-top: 10%;
    padding-left: 10%;
    display: flex;
    height: 100vh;
    padding-right: 0px;
    
}

.cv-button {

    color: white !important;
    margin-top: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;


}
.cv-button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}
/* .cv-button-bg-1{
        width: 120px;
        height: 120px;
        transform-origin: center;
        clip-path: circle(40%);
        background-color:rgba(251, 62, 226, 0.3);
        
        
    } */
.right-section {
    display: flex;
    width: 100vw;
    justify-content: space-between;


}

.left-section1{
    display: flex;
    flex-direction: row;
}
.about-section{
    display: flex;
    flex-direction:row;
}
.circle-cont{
    transform: rotate(90deg);
}

.circle-2 {
    height: 600px;
    width: 600px;
    
    clip-path: circle(35%);
    margin-top: 300px;
    /* clip-path: ellipse(50% 50% at 50% 0%); */
        transform: rotate(90deg);
    align-self: last baseline;
    background: hsla(197, 100%, 63%, 1);
    
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
    
}

.social .bi-facebook{
    font-size: 1.8rem;
color: rgb(123, 121, 121)
}
.social.bi-facebook:hover{
    color: white;
  } 
.social {
    display: flex;
    height: 60vh;
    width: 80px;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(19, 107, 184); */
    margin-left: 20%;
    box-shadow: 5px 5px 10px black
    

}

.social .bi-instagram{
    font-size: 1.8rem;
color: rgb(123, 121, 121)
}
   

  .social .bi-instagram:hover { 
  color: white;
}
.social .bi-twitter-x{
    font-size: 1.8rem;
    color: rgb(123, 121, 121)
}
.social .bi-twitter-x:hover{
color: white;
}
.social .bi-linkedin{
    font-size: 1.8rem;
color: rgb(123, 121, 121)
}
.social .bi-linkedin:hover{
color: white;
}
.social .bi-whatsapp{
    font-size: 1.8rem;
color: rgb(123, 121, 121)
}
.social .bi-whatsapp:hover{
color: white;
}
/*----------------------------------------------------------- about-section------------------------------------------------------------------------------------------------------------ */
.about-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 13%;
}

.left-section1 {
    color: white;
   
    font-size: 40px;
    font-weight: normal;
    position: relative;
    margin-top: 5%;
    font-size: 100px;
    
}
.about-img{
    
    width: 45vw;
    height: 70vh;
    
   
    clip-path: circle(40%);
}
.text4{
    position: absolute;
    left: 500px;
    top:0px;
    line-height: 120px;
}

.right-section1 {
    margin-top: 10%;
    margin-left: 5%;
    
}
.aboutme{
    color: rgb(253, 252, 252);
    margin-top: 100px;
    height: 200px;
    width:250px;
    margin-left: 50%;
    font-family: "Sevillana", cursive;

      }
      /*------------------------------------------------------------------ Contact-section---------------------------------------------------------------------------------------------------- */
     .contact-section{
        height: 100vh;
     }
      .contact{
        color: var(--color-5);
        border-radius:25px;
        margin-left: 45%;
        font-size: 19px;
        background-color: #440686;
        padding:20px;
        margin-top: 100px;
        border-radius: 40px;
        text-align: center;
      }
      .contact:hover{
        background-color: #67ee74;
        cursor: pointer;
        color: #5e09b9;
        transition: 0.5s;
      }
      /*----------------------------------------------- Skill-section------------------------------------------------------------------------------------------------- */
      .skill-section{
        height: 100vh;
       
       margin-top: 13%;
       display: flex;
       flex-direction: column;
      }
      .main-heading1{
        color: white;
        margin-left:2%;
        font-size: 600%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
       
        width: 30vw;
      }
      .arrow1{
        width: 25%;
        justify-content: end;
        color: #37e923;
        margin-top: 12.5%;
        margin-left: 2%;
      }
      .p-bar{
      
      }
      .logo-section-1{
       display: flex;
       justify-content:space-around;
       margin-top: 10%;
       width: 70%;
       margin-left: 16%;
      
      }
     .css-logo :hover{
      
     }
      .skill-section-item-1{
        display: flex;
        
        justify-content: center;
        /* width: 100vw; */
      }
.skill-section-item-2{
   
    height: 100%;
   
}
.logo-section-2{
    display: flex;
    justify-content:space-around;
    margin-top: 10%;
    width: 70vw;
    margin-left: 16%;
    height: 50%;
   }
   /* --------------------------------------------------project-section----------------------------------------------------------------------------------------------------------------- */
   .project-section{
    height: 130vh;
   }
   .mainheading{
    color: white;
   margin-top: 15%;
    text-align: center;
    font-size: 600%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 10%;
    
   }
   .project-item2{
    color: white;
    height: 25% ;
   }
   .coming-soon{
    margin-top: 10%;
    text-align: center;
    font-size: 300%;
    font-weight: bolder;
    padding-top: 6%;
    
   }
   /* -----------------------------------------------------------contact-section------------------------------------------------------------------------------------------------------------- */
   .contact-section{
    height: 100vh;
    width: 100vw;
    display: flex;
 
  
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
   .main-heading1{
    text-align: center;
    padding-top: 10%;
    width: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
   }
   .box-section{
    color: white !important;
    width: 35vw;
     background: transparent !important;
    backdrop-filter: blur(8px) !important;
    box-shadow: 5px 5px 10px black
    
  }
   .form-text{
    color: white !important;
   }
  
   .input-field{
    background: transparent !important;
    color: white !important;
    
   }
   /* --------------------------------------------------------footer-section----------------------------------------------------------------------------------------------------------------- */
   .footer-section{
    height: 40vh;
    color: white;
    border-top: 1px solid white;
   margin-top: 5%;
   display: flex;
   justify-content: space-around;
   }
   .intro-section{
    padding-right: 5%;
    padding-top: 2%;
   }
   .intro-section h5{
    font-family: "Ubuntu";
    font-size: 200%;
   }
   .social-icons h5{
    font-family: "Ubuntu";
    font-size: 200%;
    padding-top: 10%;
   }
    .social1 .bi-facebook{
        font-size: 2rem;
        color: rgb(123, 121, 121);
       
    }
    .social1 .bi-facebook:hover{
        color: white;
        transform: scale(1.5);
        transition: 1000ms;
      }
      .social1 .bi-instagram {
        font-size: 2rem;
        color: rgb(123, 121, 121);
      }
       
   
      .social1 .bi-instagram:hover { 
      color: white;
}
.social1 .bi-twitter-x{
    font-size: 2rem;
        color: rgb(123, 121, 121)
}
.social1 .bi-twitter-x:hover{
    color: white;
}
.social1 .bi-linkedin{
    font-size: 2rem;
    color: rgb(123, 121, 121)
}
.social1 .bi-linkedin:hover{
    color: white;
}
.social1 .bi-whatsapp{
    font-size: 2rem;
    color: rgb(123, 121, 121)
}
.social .bi-whatsapp:hover{
    color: white;
}

      .social1 {
        display: flex;
        height: 40px;
        width: 18vw;
        border-radius: 16px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* background-color: rgb(19, 107, 184); */   
    }
    .copyright-box{
        color: rgb(236, 236, 236);
    }
    .bi{
        color: #d017b8;
        margin-right: 5px;
        
    } 
    .bi:hover{
        color: white;
    }

    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }
      .my-nav{
        display: flex;
        justify-content: center;
      
      }
/*=========================================================media-query======================================================*/
@media screen and (max-width:760px) 
